@import "../common/pages";
.trees {
  width: 100%;
  &_list {
    width: 100%;
    &.all {
      .checkbox {
        border: 1px solid @ccc;
        display: inline-block;
        width: 12px;
        height: 12px;
        .position(absolute, 6px, auto, auto, 5px);
        cursor: pointer;

        &::before {
          content: '√';
          .position(absolute, -3px, 3px);
          .font(16px, @b333, 600);
          -webkit-transform: scale(1.2, 0.8) rotate(15deg);
          -moz-transform: scale(1.2, 0.8) rotate(15deg);
          -ms-transform: scale(1.2, 0.8) rotate(15deg);
          -o-transform: scale(1.2, 0.8) rotate(15deg);
          transform: scale(1.2, 0.8) rotate(15deg);
        }
      }
    }
    .trees {
      padding-left: 25px;
    }
  }
  &_name {
    .flex(l);
    padding: 5px 0 5px 25px;
    position: relative;
    .isCheckbox {
      border: 1px solid @ccc;
      display: inline-block;
      width: 12px;
      height: 12px;
      .position(absolute, 6px, auto, auto, 5px);
      cursor: pointer;
    }
    &.show {
      .checkbox {
        &::before {
          content: '√';
          .position(absolute, -3px, 3px);
          .font(16px, @b333, 600);
          -webkit-transform: scale(1.2, 0.8) rotate(15deg);
          -moz-transform: scale(1.2, 0.8) rotate(15deg);
          -ms-transform: scale(1.2, 0.8) rotate(15deg);
          -o-transform: scale(1.2, 0.8) rotate(15deg);
          transform: scale(1.2, 0.8) rotate(15deg);
        }
      }
    }

  }
}
