@import "./reset";
#app {
  .position(absolute, 0, 0, 0, 0);
  .root {
    .position(absolute, 0, 0, 0, 0);
  }
  .master {
    .position(absolute, 0, 0, 0, 0);
    overflow: hidden;
    overflow-y: auto;
    padding-top: 80px;
  }
}
